main {
    background-color:#dde0cf;
    text-align: center;
}

.logoTec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
}
.tecnologias{
    padding: 8%;
}
img{
    max-width: 25%;
   }
.footer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
}

.fotoPerfil{
    max-width: 100px;
    border-radius: 50%;
    overflow:hidden;
}
.sobre-section{
    padding-top: 5rem;
}
/* .social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .1rem solid black;
    border-radius: 50%;
    color: black;
    background-color:cadetblue; */
/* } */
.pro{
    padding: 10%;
}
footer {
    margin: 0%;
    color: white;
}
