main {
    background-color:#dde0cf;
    text-align: center;
}

.logoTec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
}
.tecnologias{
    padding: 8%;
}
.logoTec img{
    max-width: 25%;
   }
.fotoPerfil{
    max-width: 100px;
    border-radius: 50%;
    overflow:hidden;
}
.sobre-section{
    padding-top: 5rem;
}
.pro{
    padding: 10%;
}
.img-top{
    margin: 10px;
    height: auto;
    border-radius: 10px;
}
#projetos{
    width: 20rem;
}
li{
    list-style: none;
}
.footer img{
    width: 40px;
}